.idea/
A_Planet_Simulator/
Automata.iml
CH/
JHD_MIW2011.jar
LICENCE.backup
out/
Automata/Figures/LoopConnection.java
Automata/Images/PERT1.gif
Automata/Images/PERT2.gif
Automata/Images/PERT3.gif
Automata/Images/TEMPLATE1.gif
Automata/Images/TEMPLATE2.gif
Automata/Images/TEMPLATE3.gif
COMMIT_EDITMSG~
JHD-Bugs
JHD-Bugs.backup
JHD-Bugs~
REPORT
REPORT.backup
